{% extends 'eventos/base.html' %}
{% block content %}
{% if messages %}
{% for message in messages %}
{% if message.tags == 'success' %}
<div class="alert alert-success" role="alert">
    {{message}}
</div>
{% elif message.tags == 'warning' %}
<div class="alert alert-warning" role="alert">
    {{message}}
</div>
{% endif %}
{% endfor %}
{% endif %}
<main class="container d-flex flex-column align-items-center">
    <p class="text-center"><a href="{% url 'registrar_evento' %}" class="btn btn-primary mt-5 mb-4" href="">Agregar
            evento</a></p>

    {% for evento in eventos %}
    <div class="evento-card card mb-3 w-75">
        <div class="evento-card__datos card-body">
            <h2><a class="card-title" href="{% url 'detalle_evento' evento.id %}">{{ evento.nombre }}</a></h2>
            <p>Fecha: {{ evento.fecha }}</p>
            <p>Ubicación: {{ evento.ubicacion }}</p>
        </div>
        <div>
            {% if evento.participantes.count == 0 %}
            <p class="text-end fst-italic text-muted"><small>No hay participantes.</small></p>
            {% elif evento.participantes.count == 1 %}
            <p class="text-end fst-italic text-muted"><small>Hay 1 participante.</small></p>
            {% else %}
            <p class="text-end fst-italic text-muted"><small>Hay {{ evento.participantes.count }} participantes.</small>
            </p>
            {% endif %}

        </div>
        <div class="d-flex ">
            <a href="{% url 'registrar_participante' evento.id %}"
                class="btn btn-secondary w-50 text-center ms-2 me-2">➕ Agregar participante</a>
            <a href="{% url 'borrar_evento' evento_id=evento.id %}"
                class="btn btn-danger w-50 text-center ms-2 me-2">🗑️ Borrar evento</a>
        </div>
    </div>
    {% empty %}
    <p>No hay eventos registrados.</p>
    {% endfor %}
</main>
{% endblock %}