{% extends 'eventos/base.html' %}

{% block content %}
<main class="container d-flex flex-column align-items-center">
    <h1 class="m-4">Registro de Participante</h1>
    <h3 class="p-4">{{ evento.nombre }}</h3>
    {% if mensaje %}
        <p style="color: green;">{{ mensaje }}</p>
    {% endif %}

    <form method="post">
        {% csrf_token %}
        {{ participante_form.as_p }}

        <button class="btn btn-primary" type="submit">Registrar</button>
    </form>
            <a href="{% url 'dashboard_eventos' %}" class="btn btn-secondary mt-5">
                Volver al Dashboard
            </a>
            </main>
{% endblock %}